/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import 'fonts.css';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*, *:after, *:after {
    box-sizing: border-box;
    -webkit-transition: 0.3s all cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: 0.3s all cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    overflow: hidden;
}

.big-wrapper {
    background: #fff;
    color: #000;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

h1 {
    font-family: 'Aire Pro Regular', serif;
}


h2 {
    font-family: 'Aire Pro Regular', serif;
    font-size: 150px;
}

h3 {
    font-family: 'Aire Pro Italic', serif;
    font-size: 70px;
}

span {
    font-size: 35px;
    font-family: 'Aire Pro Italic', serif;
}

/*
///////// HEADER /////////
*/


.header {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.top-nav {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Aire Pro Regular', serif;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.5px;
    z-index: 10px;
}

.nav-left {
    position: relative;
    float: left;
}

.nav-right {
    position: relative;
    float: right;
}

.top-nav li {
    display: inline-block;
}

.nav-left li {
    margin: 25px 120px 0 0;
}

.nav-right li {
    margin-top: 25px;
    padding-left: 125px;
}

.top-nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.top-nav a:hover {
    color: #A00000;
}

.center-title {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.center-title p {
    font-family: 'Business Penmanship', sans-serif;
    font-size: 68.5px;
    font-weight: bolder;
    margin-top: 40px;
}


/*
///////// MAIN SECTION /////////
*/

.main-section {
    height: 100vh;
    background: url(../img/background.png) center 40px no-repeat;
    background-size: 25%;
}

/*
///////// TOUCH 1 /////////
///////// STARTS /////////
*/

.touch-1__1 {
    position: relative;
}

.touch-1:hover {
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
}

.touch-1__1 h1 {
    font-size: 180px;
    margin-left: 250px;
    margin-top: 50px;
}

.touch-1__content {
    position: absolute;
}

.touch-1__9 {
    position: absolute;
    top: 0;
    margin-left: 290px;
    margin-top: -30px;
}

.touch-1__9 h2 {
    font-size: 125px;
    font-style: normal;
}

.touch-1__age {
    position: absolute;
    top: 250px;
    margin-left: 290px;
    margin-top: -30px;
    line-height: 32px;
    text-transform: uppercase;
}

.touch-1__line {
    height: 80px;
    width: 100px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    transform: skewX(45deg);
    position: absolute;
    margin-left: 300px;
    margin-top: -160px;
}

/*
///////// TOUCH 1 /////////
///////// ENDS /////////
*/


/*
///////// TOUCH 2 /////////
///////// STARTS /////////
*/

.touch-2:hover {
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;

}

.touch-2 {
    text-transform: uppercase;
    position: relative;
}

.touch-2__number {
    position: absolute;
    top: 0;
    margin-top: -120px;
    margin-left: 95px;
}

.touch-2__left-side {
    margin-left: -40px;
}

.touch-2__left-side span {
    font-size: 40px;
    font-weight: bold;
}

.touch-2__right-side {
    position: absolute;
    top: 0;
    margin-top: -120px;
    margin-left: 170px;
}

.touch-2__right-side h3 {
    margin-bottom: -25px;
}

.touch-2__right-side span {
    margin-left: -25px;
    letter-spacing: 2px;
    font-weight: bold;
}

.touch-2__line {
    height: 90px;
    width: 250px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: skewX(-65deg);
    -ms-transform: skewX(-65deg);
    transform: skewX(-65deg);
    position: absolute;
    margin-left: 190px;
    margin-top: -50px;
}
/*
///////// TOUCH 2 /////////
///////// ENDS /////////
*/



/*
///////// TOUCH 3 /////////
///////// STARTS /////////
*/

.touch-3 {
    text-transform: uppercase;
}

.touch-3:hover {
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;

}

.touch-3__3 {
    position: absolute;
    top: 0;
    right: 20%;
    margin-right: 25px;
    margin-top: 0px;
}

.touch-3__3 h1 {
    font-size: 195px;
    font-weight: normal;
    line-height: 120px;
}

.touch-3__content {
    line-height: 25px;
    position: absolute;
    top: 0;
    margin-top: 160px;
    right: 0;
}

.touch-3__content span {
    margin-right: 120px;
}

.touch-3__content span {
    font-size: 30px;
    font-weight: bold;
}

.touch-3__line {
    height: 80px;
    width: 220px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    position: absolute;
    top: 0;
    margin-top: 260px;
    right: 0;
    margin-right: 180px;
    z-index: 1;
}

/*
///////// TOUCH 3 /////////
///////// ENDS /////////
*/



/*
///////// TOUCH 4 /////////
///////// STARTS /////////
*/

.touch-4 {
    position: relative;
}

.touch-4:hover {
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;

}

.touch-4__4 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -500px;
    margin-right: 165px;
    z-index: 1;
}

.touch-4__4 h1 {
    font-size: 360px;
    font-weight: normal;
}

.touch-4__right-side, .touch-4__left-side {
    text-transform: uppercase;
}

.touch-4__right-side {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -90px;
    margin-right: 40px;
}

.touch-4__left-side span, .touch-4__left-side h3 {
    position: absolute;
    right: 0;
    margin-right: 225px;
}

.touch-4__left-side span {
    font-size: 30px;
    margin-top: 65px;
}

.touch-4__left-side h3 {
    margin-top: 85px;
    margin-right: 260px;
    font-size: 50px;
}

.touch-4__line {
    height: 140px;
    width: 220px;
    border-bottom: 2px solid #000;
    border-left: 1px solid #000;
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 200px;
    margin-top: 15px;
}

/*
///////// TOUCH 4 /////////
///////// ENDS /////////
*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 980px) {
    .nav-right {
        float: right;
    }

    .top-nav a {
        letter-spacing: 1px;
        font-size: 18px;
    }

    .center-title p {
        font-size: 60px;
    }

}

@media only screen and (max-width: 1368px) {
    .top-nav {
        margin-top: 0px;
    }

    .center-title p {
        margin-top: 25px;
    }

    .main-section {
        background-size: 283px 550px;
    }

    .touch-1__1 h1 {            /* +50px left . +30px top*/
        margin-left: 320px;
        margin-top: 10px;
    }

    .touch-1__9, .touch-1__age {
        margin-left: 360px;
        margin-top: -70px;
    }

    .touch-1__age span {
        font-size: 30px;
    }

    .touch-1__line {
        margin-left: 370px;
    }

    /* TOUCH 2 */

    .touch-2__number {
        margin-top: -150px;
        margin-left: 180px;
    }

    .touch-2__number img {
        width: 85%;
    }

    .touch-2__left-side {
        margin-left: 60px;
    }

    .touch-2__left-side span {
        position: absolute;
        margin-top: -55px;
    }

    .touch-2__right-side {
        margin-top: -150px;
        margin-left: 240px;
    }

    .touch-2__right-side h3 {
        font-size: 60px;
    }

    .touch-2__right-side span {
        margin-left: -45px;
    }

    .touch-2__line {
        height: 70px;
        width: 210px;
        margin-top: -40px;
        margin-left: 255px;
    }

    /* TOUCH 3 */

    .touch-3__3 {
        margin-right: 85px;
        margin-top: -35px;
    }

    .touch-3__content {
        margin-top: 100px;
    }

    .touch-3__content span {
        margin-right: 180px;
    }

    .touch-3__line {
        margin-top: 200px;
        margin-right: 250px;
        -webkit-transform: skewX(-65deg);
        -ms-transform: skewX(-65deg);
        transform: skewX(-65deg);
        width: 170px;
        height: 60px;
    }

    /* TOUCH 4 */

    .touch-4__4 {
        margin-top: -530px;
        margin-right: 240px;
    }

    .touch-4__right-side {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -130px;
        margin-right: 110px;
    }

    .touch-4__left-side span, .touch-4__left-side h3 {
        position: absolute;
        right: 0;
        margin-right: 300px;
    }

    .touch-4__left-side span {
        font-size: 30px;
        margin-top: 35px;
    }

    .touch-4__left-side h3 {
        margin-top: 55px;
        margin-right: 330px;
        font-size: 50px;
    }

    .touch-4__line {
        height: 140px;
        width: 220px;
        border-bottom: 2px solid #000;
        border-left: 1px solid #000;
        -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 270px;
        margin-top: -15px;
    }
}

@media only screen and (max-width: 980px) {
    .nav-right {
        float: right;
    }

    .top-nav a {
        letter-spacing: 1px;
        font-size: 18px;
    }

    .center-title p {
        font-size: 60px;
    }



    .touch-1__1 h1 {
        margin-left: 200px;
    }

    .touch-1__9, .touch-1__age {
        margin-left: 240px;
    }

    .touch-1__line {
        margin-left: 250px;
    }



    .touch-2__number {
        margin-top: -100px;
        margin-left: 120px;
    }

    .touch-2__left-side {
        margin-left: 10px;
    }

    .touch-2__left-side span {
        margin-top: -10px;
    }

    .touch-2__right-side {
        margin-left: 180px;
        margin-top: -100px;
    }

    .touch-2__line {
        margin-top: 10px;
        margin-left: 195px;
    }



    .touch-3__3 {
        margin-right: 35px;
        margin-top: -45px;
    }

    .touch-3__content span {
        margin-right: 90px;
    }

    .touch-3__line {
        margin-right: 160px;
    }



    .touch-4__4 {
        margin-right: 200px;
        margin-top: -520px;
    }

    .touch-4__right-side {
        margin-right: 70px;
        margin-top: -110px;
    }

    .touch-4__left-side span, .touch-4__left-side h3 {
        margin-right: 260px;
    }

    .touch-4__left-side span {
        margin-top: 40px;
    }

    .touch-4__left-side h3 {
        margin-right: 290px;
    }

    .touch-4__line {
        margin-right: 230px;
        margin-top: -5px;
    }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
