.page-landing {
  h1 {
    font-family: 'Aire Pro';
  }

  .landing_impression {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(64, 1.5625vw);
      grid-template-rows: repeat(35, 2.85714vmin);
    }

    .impression {
      &_flower {
        grid-column: #{division-start(7, 1)} / #{division-end(10, 4)};
        grid-row: 1 / -1;
        background-image: url('./../assets/background.png');
        background-size: cover;
        background-position: 50%;
      }
    }
  }
}
